{% extends "base.html" %}

{% block content %}
{% if messages %}
    <div class="messages mt-3 text-center">
        {% for message in messages %}
          <div class="alert alert-success">
            {{message}}
          </div>
        {% endfor %}  
    </div>
{% endif %}     
      <h1 class="text-center mt-3">Students Details</h1> <br>
    <style>
        .mybtn-right{
        text-align: right;
        }
    </style>
     <div class="mybtn-right ">
        <a href="{% url 'student_insert' %}"class="btn btn-primary">Insert</a>
           </div>    
    
      <table class="table table-striped mt-3">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>roll_number</th>
            <th>date_of_birth</th>
            <th>email</th>
            <th>phone_number</th>
            <th>address</th>
            <td></td>
        </tr>
        {% for student in students %}
        <tr>
            <td><a href="/students/{{student.id}}">
                {{student.id}}
                </a>
            </td>
            <td>{{student.name}}</td>
            <td>{{student.roll_number}}</td>
            <td>{{student.date_of_birth}}</td>
            <td>{{student.email}}</td>
            <td>{{student.phone_number}}</td>
            <td>{{student.address}}</td>
            <td>
                <a href="{% url 'student_edit' student.id %}"class="btn btn-primary">Update</a>
                <a href="{% url 'student_delete' student.id %}"class="btn btn-primary">Delete</a>
  
            </td>
        </tr>
        {% endfor %}
    
    </table>
{% endblock %}     
